/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: 'Spectral', serif;
    /* overflow: hidden; */
    color: #383e49;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
}

#root {
    padding-top: 60px;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.app {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 960px;
    overflow: scroll;
}

.page {
    padding: 30px;
}

/* Header */
/* Styles are initially for small screens and get overwritten by the media query */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: white;
}

.header-title {
    color: #383e49;
}

.menu-button {
    width: 60px;
    height: 60px;
    background: #fff;
    border: 0;
    position: relative;
}

.menu-button-hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #383e49;
    transition: background-color 0.25s ease;
    transform: translate(-50%, -50%);
}

.menu-button-hamburger:before,
.menu-button-hamburger:after {
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    background-color: #383e49;
    transition: transform 0.25s ease;
}

.menu-button-hamburger:before {
    transform: translate(-50%, -300%);
}

.menu-button-hamburger:after {
    transform: translate(-50%, 200%);
}

.menu-button.open .menu-button-hamburger {
    background-color: transparent;
}

.menu-button.open .menu-button-hamburger:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.open .menu-button-hamburger:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.app-nav {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    visibility: hidden;
}

.app-nav--menu {
    background-color: #fff;
    display: flex;
    opacity: 0;
    transition: opacity 0.25s ease;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 0 8px rgba(0,0,0,0.15);
}

.app-nav.open {
    visibility: visible;
}
.app-nav.open .app-nav--menu {
    opacity: 1;
}

.app-nav--link {
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 40px;
    height: 40px;
    padding: 0 18px;
    color: #383e49;
    background-color: #fff;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.app-nav--link:hover {
    color: #2164ee;
}

.app-nav--link.active {
    background-color: #e9f0ff;
    color: #2164ee;
}

/* Navigation on mid to large sized screens */
@media screen and (min-width: 700px) {
    #root {
        padding-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .app {
        overflow: visible;
    }

    .header {
        position: relative;
        top: initial;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
    }

    .header-title {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .app-nav,
    .app-nav.open {
        position: static;
        top: 0;
        visibility: visible;
        margin: 20px 0;
        padding: 10px 0;
        border-style: solid;
        border-color: #e9f0ff;
        border-width: 2px 0;
    }

    .app-nav--link {
        border-radius: 4px;
    }

    .menu-button {
        display: none;
    }

    .app-nav--menu {
        display: flex;
        opacity: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }
    .projects {
        position: relative;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        
    }
    
    .project {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 60px;
    }
    
    .project:last-child {
        margin-bottom: 0;
    }
    
    .project:nth-child(even) {
        flex-direction: row-reverse;
    }
    .project:nth-child(odd) {
        flex-direction: row;
    }
    
    .project-details {
        flex: 1 0 50%;
        padding-left: 60px;
    }
    
    .project:nth-child(even) .project-details {
        padding-left: 0;
        padding-right: 60px;
    }
    
    .project-image {
        flex: 1 0 50%;
    }
    
    .project-image > img {
        border-radius: 4px;
        width: 100%;
    }
    
    .project-name {
        font-weight: 800;
        margin-bottom: 20px;
    }
    
    .project-description {
        font-size: 16px;
        line-height: 1.5em;
        margin-top: 20px;
    }
   
}


/* Projects Page */
.projects {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 60px;
}

.project:last-child {
    margin-bottom: 0;
}

.project-image {
    flex: 1 0 50%;
}

.project-image > img {
    border-radius: 4px;
    width: 100%;
}

.project-name {
    font-weight: 800;
    margin-bottom: 20px;
}

.project-description {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 20px;
}


/*         About Page          */
/* Social Media  Links */
.about--social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

a.about--link {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: background-color 0.25s ease;
    margin: 10px;
    color: #fff;
    font-size: 40px;
}

a.about--link > span.fab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.about--link.github {
    background-color: #222;
}

a.about--link.github:hover {
    background-color: #444;
}

a.about--link.linkedin {
    background-color: #0E76A8;
}

a.about--link.linkedin:hover {
    background-color: #2996ca;
}


.about--content {
    margin: 0 auto;
    width: 50%;
    min-width: 275px;
    font-size: 21px;
    line-height: 1.4em;
}
/* Home page */
.home--content {
    margin: 0 auto;
    width: 50%;
    min-width: 275px;
    font-size: 21px;
    line-height: 1.4em;
    align-items: center;
}
/* Resume Page */
.resume {
    text-align: center;
}

/* Code formatting */
@media screen and (max-width: 450px) {
    .codebox {
        visibility: hidden;
        position: fixed;
    }
}
.codebox {
    text-align: left;
    padding: 40px;
    font-family: "Consolas";
    margin-top: 30px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(42, 42, 42);
    line-height: 1em;
    height: 80%;
    overflow: hidden;
    white-space: pre;
    word-break: normal;
    font-size: 9.5pt;
}
.codebox > p {
    white-space: nowrap;
}

.indent1 {
    padding-left: 2em;
    margin-block-start:0em;
    margin-block-end: 0em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.indent2 {
    padding-left: 4em;
    white-space: pre-wrap;
    margin-block-start:0em;
    margin-block-end: 0em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.indent3 {
    padding-left: 6em; 
    margin-block-start:0em;
    margin-block-end: 0em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.indent1 > a {
    color: inherit;
    text-decoration: none;
}

/* Kotlin Formatting */
.keyword,
.modifier {
    color: rgb(204, 120, 50);
    background-color: rgb(42, 42, 42);
}


.parameter,
.functioncall,
.class,
.lvariable {
    color: rgb(169, 183, 198);
    background-color: rgb(42, 42, 42);
    text-decoration: none;
}

.parametername {
    background-color: rgb(58, 58, 58);
    color: #787878;
}

.string {
    color: #6a8759;
}

.kcomment {
    color: #808080; 
}

.kfundec {
    color: #FFC66D; 
}


/* Shared Button Styles */
a.blue-button {
    text-decoration: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #2164ee;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    transition: background-color 0.25s ease;
}

a.blue-button:hover {
    background-color: #407fff;
}

a.blue-button:active {
    background-color: #1451cd;
}

.blue-button--icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 1.25em;
}
