/* Header */
.logo {
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 30pt;
    margin: 0px auto 0px auto;
    padding: 2% 0px 1% 0px;
    border: 2px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    width: 26%;
    position: relative;
}

.navbar {
    position: relative;
    margin: auto;
    width: 200px;
    display: flex;
}

.navlink {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-style: none;
    cursor: pointer;
    border-bottom: solid .75em transparent;
    box-shadow: 0 1.5px 0 -1.5px black;
    background: white padding-box;
}
.header > hr {
    width: 80%;
    border-style: solid;
    border-top-width: 2.53px;
    border-radius: 2px;
}
/* Content */

/* .accent {
    background-color: rgb(80, 80, 80);
    height: calc(100vh - 5%);
} */

h2 {
    text-align: center;
}
body {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
}
.grid {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    align-content: center;
    display: flex
}
.page-content {
    /* padding-left: 15%;
    padding-right: 15%;
    width: 100%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.project:nth-child(odd) {
    width: 80%;
    position: relative;
    /* right: 10%; */
    margin: auto;
    clear: left;
    padding: 4%;
}

.project:nth-child(even) {
    width: 80%;
    position: relative;
    /* left: 10%; */
    margin: auto;
    clear: right;
    padding: 4%;
}
.projectimgl {
    width: 50%;
    height: 60%;
    position: relative;
    /* right: 10%; */
    margin: auto;
    float: left;
    padding: 0px 4%;
}
.projectimgr {
    width: 50%;
    height: 60%;
    position: relative;
    /* left: 20%; */
    margin: auto;
    float: right;
    padding: 0px 0px 0px 4%;
}

.page-content > p {
    margin-block-start: 0em;
}

/* Social Media */

.social {
    float: left;
}

.fab {
    text-align: center;
    text-decoration: none;

}

.social .fab {
    padding: 15px;
    font-size: 30px;
    margin: 1px;
}
.social .fa-linkedin {
    padding: 15px 16.5px 15px 16.5px;
}
.projects .fab {
    padding: 5px;
    font-size: 20px;
}

.fa-github {
    background: #212529;
    color: white;
}

.fa-linkedin {
    background: #0E76A8;
    /* border-radius: 0; */
    color: #fff;
    /* border-width: 1px;
    border-style: solid; */
}
/* Code formatting */
.indent1 {
    padding-left: 2em;
    margin-block-start:0em;
    margin-block-end: 0em;
    line-height: 0.2em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.indent2 {
    padding-left: 4em;
    white-space: pre-wrap;
    margin-block-start:0em;
    margin-block-end: 0em;
    line-height: 0.2em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.indent3 {
    padding-left: 6em; 
    margin-block-start:0em;
    margin-block-end: 0em;
    line-height: 025em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.codebox {
    background-color: rgb(42, 42, 42);
    width: 80%;
    line-height: normal;
    height: 80%;
    overflow: hidden;
}
.codebox > p {
    white-space: normal;
    word-wrap: break-all; 
    font-size: 9.5pt;
    display: inline;
    font-family: "Consolas";
}

.indent1 > a {
    color: inherit;
    text-decoration: none;
}

/* Kotlin Formatting */

.keyword, .modifier {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-text-fill-color: rgb(204, 120, 50);
    background-color: rgb(42, 42, 42);
}


.parameter, .functioncall, .class, .lvariable {
    -webkit-text-fill-color: rgb(169, 183, 198);
    background-color: rgb(42, 42, 42);
    padding: 0;
    margin: 0;
    border: none;
}
.parametername {
    font-size: 8pt;
    letter-spacing: 0;
    background-color: rgb(58, 58, 58);
    -webkit-text-fill-color: #787878;
}

.string {
    -webkit-text-fill-color: #6a8759;
    padding: 0;
    margin: 0;
    border: none;
}

.kcomment {
    -webkit-text-fill-color: #808080; 
    border: none;
}

.kfundec {
    -webkit-text-fill-color: #FFC66D; 
    border: none;
}

html {
    overflow-y: scroll;
}